<section id="services-section" class="section">
    <div class="container-fluid container-xl">
        <div class="row g-3 g-md-5">
            <div class="col-12 col-lg-6">
                <p *ngIf="servicesContent.topTitle" class="top-title text-lighter pb-md-0 text-uppercase">{{servicesContent.topTitle || 'Enter Top Title'}}</p>
                <h2 class="heading-style-h2">{{servicesContent.bigTitle || 'Enter Big Title'}}</h2>
            </div>

            <div class="col-12 col-lg-6">
                <div class="mb-0 mb-lg-5"></div>
                <p class="title-description text-lighter" *ngIf="servicesContent.description">
                    {{servicesContent.description || 'Enter Description'}}
                </p>
                <a [routerLink]="'/services'" class="allServiceLink" *ngIf="servicesContent.description">All services</a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 my-4 g-3 g-lg-5">
            @for (offer of servicesContent.serviceOffers; track $index) {
            <app-service-card [serviceCard]="offer"></app-service-card>
            }

        </div>
    </div>
</section>