.card-overlay {
    background: linear-gradient(#0000, #000);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 1s ease, visibility 0.5s ease;
    pointer-events: none;
}

.card:hover .card-overlay {
    opacity: 1;
    visibility: visible;
}



