<div id="cta">
    <div class="container-fluid-md container-lg">
        <div class="center_content_block">
            <h2 class="heading-style-h2 text-white">Looking for fresh and innovative ideas?</h2>
            <p class="text-lighter text-white title-description" style="max-width: 39.13rem;">Get ahead with creative solutions from Zeal Consulting.
                We turn bold ideas into actionable strategies tailored to your goals.</p>
            <button class="btn knowMore-button button flex-shrink">Get In Touch</button>
        </div>
    </div>
</div>