<div class="section" style="background-color: #edf0f6;">
    <div class="row g-3">
        <div class="col-12 col-md-2">
            <div class="d-flex flex-row flex-md-column  gap-5 align-items-center">
                <div>Share</div>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9bea01e0255ac118d9f9_Social_icons_black.svg"
                        loading="lazy" alt="Facebook" class="social_icon is-facebook"></a>
                <a href="https://www.x.com" target="_blank">
                    <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9d03eb5c0df47f957dac_X.svg"
                        loading="lazy" alt="X" class="social_icon"></a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9fe6ad3721e6363b08e1_Vector%20(2)%20(1)%20(1)%201.svg"
                        loading="lazy" alt="Instagram" class="social_icon"></a>
                         <a href="https://www.instagram.com" target="_blank">
                    <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e73c897c6fe1d7d0d9e6b7_LinkedIn.svg"
                        loading="lazy" alt="Instagram" class="social_icon"></a>
            </div>
            
        </div>
        <div class="col-12 col-md-10 text-lighter">
            <p class="title-description">We are pleased to announce the expansion of our services with the launch of a new Sustainability Consulting Division. This division focuses on helping businesses integrate sustainable practices and achieve their environmental goals.</p>
            <h5 class="heading-style-h5">New Services Include:</h5>
            <ul>
                <li class="pb-3">
                 <div><span class="heading-style-h5">New Services Include:</span>  <span class="title-description">We are pleased to announce the expansion of our services with the launch of a new Sustainability Consulting Division. This division focuses on helping businesses integrate sustainable practices and achieve their environmental goals.</span></div>  
                </li>
                 <li class="pb-3">
                 <div><span class="heading-style-h5">New Services Include:</span>  <span class="title-description">We are pleased to announce the expansion of our services with the launch of a new Sustainability Consulting Division. This division focuses on helping businesses integrate sustainable practices and achieve their environmental goals.</span></div>  
                </li>
                 <li class="pb-3">
                 <div><span class="heading-style-h5">New Services Include:</span>  <span class="title-description">We are pleased to announce the expansion of our services with the launch of a new Sustainability Consulting Division. This division focuses on helping businesses integrate sustainable practices and achieve their environmental goals.</span></div>  
                </li>
            </ul>
            <p class="title-description">"Sustainability is increasingly important for businesses looking to make a positive impact and meet regulatory requirements," said Olivia Martinez, Sustainability Consultant at Zeal Consulting. "Our new division is dedicated to</p>
        </div>
    </div>
</div>