<div style="background: #171d2f;" class="section ">
  <div class="text-center">
    <div class="top-title" style="color: #bde162;">Collaborative Approach</div>
    <h2 class="heading-style-h2 text-white pb-4">Harnessing Team Synergy for Outstanding Outcomes</h2>

    <video autoplay loop muted playsinline class="object-fit-contain img-fluid">
      <source src="videos/video.mp4" type="video/mp4">
    </video>

    <p class="text-lighter text-white pt-4">
        Description: At Zeal Consult, teamwork is at the heart of everything we do. By combining our diverse skills and perspectives, we foster a collaborative environment where innovative solutions thrive. Our team works seamlessly together to ensure every project benefits from a holistic approach, leading to superior outcomes and client satisfaction. Discover how our united efforts drive success and make your vision a reality.
    </p>
  </div>
</div>
