<div class="section">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 rows-cols-lg-4 g-4">
        <div class="col">
            <div class="card border border-0">

                <div class="card-body text-center">
                    <img src="images/location.svg" class="img-fluid" alt="...">
                    <h5 class="card-title mt-3">Address</h5>
                    <p class="card-address text-lighter">1234 Innovation DriveSuite 567Cityville,State 89012Country</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0">

                <div class="card-body text-center">
                    <img src="images/email.svg" class="img-fluid" alt="...">
                    <h5 class="card-title mt-3">Email</h5>
                        <a href="mailto:info&#64;zealconsult.com" class="card-email text-lighter">info&#64;zealconsult.com</a>  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-0">

                <div class="card-body text-center">
                    <img src="images/phone.svg" class="img-fluid" alt="...">
                    <h5 class="card-title mt-3">Phone</h5>
                    <p class="card-text">
                        <a href="+1 (800) 555-1234" class="text-decoration-none card-phone text-lighter">+1 (800) 555-1234</a>
                    </p>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card border border-0">

                <div class="card-body text-center">
                    <img src="images/clock.svg" class="img-fluid" alt="...">
                    <h5 class="card-title mt-3">Opening hours</h5>
                    <p class="card-address text-lighter">Mon-Sat: 8 AM - 06 PM <br/> Sun: day off</p>
                </div>
            </div>
        </div>
    </div>
</div>