<footer class="section text-white">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
            <a class="navbar-brand text-white p-0 m-0" href="#">
                <img src="images/logo.svg" alt="logo" class="img-fluid"></a>
            <p class="footer-description my-4">Expert guidance tailored to your business needs, driving growth and
                innovation.</p>
            <div class="social_share">
                <h5 class="heading-style-h5 mb-4">Subscribe Us</h5>
                <div class="social_share-row">
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9bea01e0255ac118d9f9_Social_icons_black.svg"
                            loading="lazy" alt="Facebook" class="social_icon is-facebook"></a>
                    <a href="https://www.x.com" target="_blank">
                        <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9d03eb5c0df47f957dac_X.svg"
                            loading="lazy" alt="X" class="social_icon"></a>
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9fe6ad3721e6363b08e1_Vector%20(2)%20(1)%20(1)%201.svg"
                            loading="lazy" alt="Instagram" class="social_icon"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="d-flex align-items-lg-center align-items-md-end align-items-start flex-column mt-4 mt-lg-0">
                <h5 class="heading-style-h5">Useful links</h5>
                <div class="footer-links">
                    <a h [routerLink]="['/home']" routerLinkActive="footer_link_active" aria-current="page"
                        class="footer_link text-decoration-none d-block p-1 p-lg-2 text-lighter text-white fs-6">Home</a>
                    <a routerLinkActive="footer_link_active" [routerLink]="['/about']"
                        class="footer_link text-decoration-none d-block p-1 p-lg-2 text-lighter text-white fs-6">About</a>
                    <a routerLinkActive="footer_link_active" [routerLink]="['/services']"
                        class="footer_link d-block text-decoration-none p-1 p-lg-2 text-lighter text-white fs-6">Services</a>
                    <a routerLinkActive="footer_link_active" [routerLink]="['/blogs']"
                        class="footer_link d-block text-decoration-none p-1 p-lg-2 text-lighter text-white fs-6">Blogs</a>
                    <a routerLinkActive="footer_link_active" [routerLink]="['/contact']"
                        class="footer_link d-block text-decoration-none p-1 p-lg-2 text-lighter text-white fs-6">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12">
            <div class="container-fluid mt-3 mt-lg-0">
                <h5 class="heading-style-h5 mb-2">Subscribe for our newsletter</h5>
                <form class="d-flex" role="search">
                    <input class="form-control me-lg-2 me-0 rounded-0" type="search" placeholder="Your email"
                        aria-label="Search" />
                    <button class="btn rounded-0 border px-3" type="submit" id="subscribe">Subscribe</button>
                </form>
                <div class="row mt-4">
                    <div class="col-md-6 col-12">
                        <div class="isAddress">
                            <h5 class="heading-style-h5">Address</h5>
                            <p class="footer-description">1234 Innovation Drive Suite 567 Cityville, State 89012 Country</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="d-flex flex-row flex-lg-column justify-content-between flex-wrap">
                            <div class="isEmail mb-3">
                                <h5 class="heading-style-h5">Email</h5>
                                <a href="info@zealconsult.com"
                                    class="footer_link text-white text-decoration-underline text-lighter">info&#64;zealconsult.com</a>
                            </div>
                            <div class="isPhone">
                                <h5 class="heading-style-h5">Phone</h5>
                                <a href="+1 (800) 555-1234"
                                    class="footer_link text-white text-decoration-underline text-lighter">+1
                                    (800)
                                    555-1234</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>