footer {
    background-color: #171d2f;


}

.footer-title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.footer-description {
    opacity: .6;
    color: #fff;
    font-weight: 400;
    line-height: 1.25rem;
}

.social_share-row {
    display: flex;
    gap: .8rem;

}

.social_icon {
    max-width: 1rem;
}

.social_share-row a {
    background-color: #edf0f6;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    transition: background-color .3s;
    display: flex;

}

.footer_link:hover {
    color: rgb(189 225 98) !important;
    opacity: 1;

}

.footer_link_active {
    color: rgb(189 225 98) !important;
    opacity: 1;

}

#subscribe {
    color: #171d2f;
    background-color: #bde162;
    font-weight: 500;

}

#subscribe:hover {
    color: #bde162;
    background-color: #171d2f;
    border-color: #bde162;
}

.social_share-row a:hover {
    background-color: #bde162;
}

@media screen and (max-width: 767px) {

    p,
    a,
    #subscribe {
        font-size: .875rem !important;
    }
}