<div class="section" [ngStyle]="{'background-color' :latestNewsContent.background}">
    @if (latestNewsContent.header) {
        <div class="row pt-2 pb-5">
            <div class="col text-center">
                <p class="top-title  text-lighter" *ngIf="latestNewsContent.topTitle">{{latestNewsContent.topTitle || 'Enter Top Title'}}</p>
                <h3 class="big-title" *ngIf="latestNewsContent.bigTitle">{{latestNewsContent.bigTitle || 'Enter Big Title'}}</h3>
            </div>
        </div>
}
        <div class="row row-cols-1 row-cols-md-3
         g-4">

            @for (blog of latestNewsContent.blogs; track $index) {
            <div class="col h-100" (click)="onPostDetails(blog.text)" style="cursor: pointer;">
                <div class="card blog-card rounded-0 border border-0">
                    <img src="{{blog.image}}" class="card-img-top blog-card-image w-100 object-fit-cover rounded-0"
                        alt={{blog.id}}>
                    <div class="card-body">
                        <p class="card-text"><small class="text-body-secondary">{{blog.date}}</small></p>
                        <h4 class="heading-style-h4 mb-4">{{blog.text}}</h4>
                        <a class="icon-link icon-link-hover text-decoration-none text-dark blog-card-readMore"
                            >
                            Read more
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                                <path
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </a>

                    </div>
                </div>
            </div>
            }
        </div>
</div>