<app-fifty-fifty-reusable [fiftyFiftyContent]="service.hero" [theme]="'dark'" [subTopTitle]="subTopTitle" [order]="'dynamic'"></app-fifty-fifty-reusable>
<app-fifty-fifty-reusable [serviceDetails]="service.offerService" ></app-fifty-fifty-reusable>
<app-fifty-fifty-reusable [fiftyFiftyContent]="service.fifty50First" [theme]="'light'" [order]="'dynamic'" [contentAlign]="'end'"></app-fifty-fifty-reusable>
<app-fifty-fifty-reusable [fiftyFiftyContent]="service.fifty50Second" [theme]="'dark'" [order]="'dynamic'"></app-fifty-fifty-reusable>
<app-partners-reusable></app-partners-reusable>