.small-section {
    padding: 1rem 13rem;
}

.bottom-footer-section a{
    opacity: .6;
    color:white;
}


.bottom-footer-section a:hover {
    opacity: 1;
    color: rgb(189, 225, 98);
}

@media screen and (max-width: 991px) {
    .small-section {
        padding: 1rem .5rem;
    }
}