<div class="small-section border-top border-1" style="background-color: #171d2f; border: rgba(255, 255, 255, .2);">
    <div class="d-flex gap-md-5 gap-4 flex-wrap">
        <div class="bottom-footer-section d-flex justify-content-center-lg gap-2">
            <h3 class="heading-style-h5 text-white text-lighter">Developed by</h3>
            <a href="" class="text-lighter footer-link">ZealousWeb</a>
        </div>
        <div class="bottom-footer-section d-flex ustify-content-center-lg gap-1">
            <h3 class="heading-style-h5 text-lighter text-white">Powered by</h3>
            <a href="" class="text-lighter">Webflow</a>
        </div> 
        <div class="bottom-footer-section d-flex ustify-content-center-lg gap-2">
            <a href="" class="text-lighter">Instructions</a>
        </div>
        <div class="bottom-footer-section d-flex ustify-content-center-lg gap-2">
            <a href="" class="text-lighter">Licenses</a>
        </div>
    </div>
</div>